$cde-header-row: #34545f;

$p136MainColor:#ccc;
$p136SecColor:#505050;
$p136BorderColor: rgba(35, 57, 64, 0.39);

$machine-back:  rgba(84, 84, 84, 0.12);

$color-green: green;
$color-red: red;

@import 'SensorStyles.scss';

