<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  SPDX-FileCopyrightText: Copyright (c) 2009-2020 TRUMPF Laser GmbH, authors: C-Labs
  SPDX-License-Identifier: CC0-1.0
  -->
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>