/*
 * SPDX-FileCopyrightText: 2013-2020 TRUMPF Laser GmbH, authors: C-Labs
 *
 * SPDX-License-Identifier: MPL-2.0
 */

﻿$cde-header-row: #dddddc;

$p136MainColor:#a5a5a5;
$p136SecColor:#dedede;
$p136BorderColor: rgba(247, 247, 247, 0.36);

$machine-back:  rgba(84, 84, 84, 0.03);

$color-green: green;
$color-red: red;

@import 'SensorStyles.scss';

